.header-logo{
  float: left;
  font-size: 40px;
  color: red;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.header-list{
  float: left;

}

.header-list li{
  list-style: none;
  float: left;
  padding: 30px 20px;
}
