body{
  font-family: "Arial Narrow";
}

.header{
  background-color: #fff;
  color: black;
  height: 90px;
  width: auto;
  border-bottom: 30px solid #ebe7e0;

}

.header-logo{
  float: left;
  font-size: 60px;
  color: red;
  padding-right: 30px;
  padding-left: 30px;

}

.header-logo p{
  margin-top: 2px;
  padding-left: 10px;

  font-size: 15px;

}

.header-list{
  float: right;

}

.header-list li{
  list-style: none;
  font-size: 20px;
  float: left;
  padding-top: 20px;
  padding-left: 40px;
  margin-right: 30px;
}

.header-contact{
  background-color: #ebe7e0;
}

.header-contact p{
  width: auto;
  float: right;
  margin: 2px;
  margin-right: 10px;
  /* padding-bottom: 10px; */
}

.contents{
  height: 450px;
}

.contents h3{
  padding-left: 3px;
}

.contents-covid{
  height: 500px;
}

.content-linkcovid{
  float: left;
  padding-right: 35px;
}

.content-linkcovid p{
  text-align: center;
}

.content-news{
  float: right;
  padding-right: 35px;
}

.content-news p{
  height: 140px;
  width: 400px;
  margin: 1px;
}

.content-section{
  border-bottom: 5px solid red /*#c6d4e1*/;
}
